.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.option {
    padding: 5px 10px;
    border-radius: var(--CornerRadiusStandard);
    border: solid 2px rgb(var(--PrimaryColor));
    font-size: 14px;
}

.option:hover {
    cursor: pointer;
    background-color: rgba(var(--PrimaryColor), 0.1);
}

.optionSelected {
    background-color: rgb(var(--PrimaryColor));
    color: rgb(var(--OnPrimaryColor));
}

.optionSelected:hover {
    background-color: rgb(var(--PrimaryColor));
}

.staticChip {
    background-color: red;
    padding: 5px 10px;
    border-radius: var(--CornerRadiusStandard);
    display: flex;
    font-weight: 500;
}

.staticChipNeutral {
    background-color: rgb(var(--NeutralColor));
}

.staticChipPositive {
    background-color: rgb(var(--PositiveColor));
}

.staticChipError {
    background-color: rgb(var(--NoPositiveColor));
}