.dialog {
  padding: 30px;
  border: none;
  outline: none;
  border-radius: var(--CornerRadiusStandard);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
}

.fullWidth {
  width: 100%;
}
  
.dialog.show {
  animation: showDialog var(--ModalAnimation) ease normal;
}

.dialog.show::backdrop{
  animation: showBackground var(--ModalAnimation) ease normal;
}

@keyframes showDialog {
  from {
    opacity: 0;
    top: 120%;
    left: 50%;
  }
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes showBackground {
  from { opacity: 0;}
  to {opacity: 1;}
}
  
.dialog.hide {
  animation: hideDialog var(--ModalAnimation) ease normal;
}

.dialog.hide::backdrop{
  animation: hideBackground var(--ModalAnimation) ease normal;
}
  
@keyframes hideDialog {
  from {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    top: 120%;
    left: 50%;
  }
}

@keyframes hideBackground{
  from {opacity: 1;}
  to {opacity: 0;}
}

.dialog::-webkit-scrollbar-thumb {
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  background-clip: padding-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}