:root {
  --BackgroundColor: 245, 245, 245;
  --PrimaryColor: 85, 125, 95;
  --OnPrimaryColor: 255, 255, 255;
  --SecondaryColor: 97, 157, 115;
  --LightGray: 238, 238, 238;
  --DarkGray: 125, 130, 120;
  --ErrorColor: 240, 20, 96;

  --NeutralColor: 242, 216, 145;
  --PositiveColor: 140, 194, 147;
  --NoPositiveColor: 230, 174, 154;

  /* variables */
  --CornerRadiusStandard: 30px;
  --NavbarHeight: 60px;
  --InputButtonHeight: 40px;

  /* animations */
  --ModalAnimation: 400ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(var(--Background));
}

.page {
  padding: 20px 40px;
}

.icon {
  opacity: 0.55;
  transition: color 100ms ease-out;
  cursor: pointer;
}

.icon:hover {
  color: rgb(var(--PrimaryColor));
  opacity: 1;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.title:hover {
  cursor: default;
}

.loginTitle {
  font-size: 32px;
  font-weight: 500;
}

.error {
  color: rgb(var(--ErrorColor));
  font-size: 12px;
  font-weight: 600;
}

.width_full {width: 100% !important; }
.height_full {height: calc(100vh - var(--NavbarHeight)) !important; }
.spacer_hor_XS {height: 4px;}
.spacer_hor_S {height: 6px;}
.spacer_hor_M {height: 10px;}
.spacer_hor_L {height: 14px;}
.spacer_hor_XL {height: 18px;}

.flex {display: flex;}
.center {justify-content: center; align-items: center;}
.flexDirectionColumn {flex-direction: column;}

/* ------------------------------------------------------------------------------------------------------ Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--PrimaryColor), 0.6)
}

/* ------------------------------------------------------------------------------------------------------ Buttons */
.button {
  padding: 10px;
  height: 35px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: var(--CornerRadiusStandard);
}

.raisedButton {
  background-color: rgb(var(--PrimaryColor));
  color: rgb(var(--OnPrimaryColor));
  transition: background-color 100ms ease-out;
  border-radius: var(--CornerRadiusStandard);
  padding-left: 10px;
  padding-right: 10px;
}

.raisedButton:hover {
  background-color: rgb(var(--SecondaryColor));
}

.raisedButton:disabled {
  background-color: rgba(var(--SecondaryColor), 0.4);
  color: rgba(0, 0, 0, 0.5);
}

.outlinedButton {
  color: rgb(var(--PrimaryColor));
  border: solid 2px rgb(var(--PrimaryColor));
  transition: background-color 100ms ease-out;
  border-radius: var(--CornerRadiusStandard);
}

.outlinedButton:hover {
  color: rgb(var(--SecondaryColor));
  border: solid 2px rgb(var(--SecondaryColor));
  background-color: transparent;
}

/* ------------------------------------------------------------------------------------------------------ RadioButton */
.fileRadioInputs {
  position: relative;
  display: flex;
  border-radius: var(--CornerRadiusStandard);
  background-color: rgb(var(--PositiveColor));
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  gap: 20px;
}

.fileRadioInputs .radio input {
  display: none;
}

.fileRadioInputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  bottom: -1px;
  padding: 0.35rem 0.8rem;
  transition: all 0.15s ease-in-out;
  position: relative;
  font-weight: 500;
}

.fileRadioInputs .radio input:checked + .name {
  background-color: white;
  font-weight: 600;
}
.fileRadioInputs .radio input + .name:hover {
  color: rgb(var(--OnPrimaryColor));
}
.fileRadioInputs .radio input:checked + .name:hover {
  color: black;
}

.fileRadioInputs .radio input:checked + .name::after,
.fileRadioInputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 15px;
  background-color: rgb(var(--PositiveColor));
  bottom: 0;
}

.fileRadioInputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 0px white;
  bottom: 1px;
}
.fileRadioInputs .radio input:checked + .name::before {
  left: -10px;
  bottom: 1px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 0px white;
}