:root {
  --BackgroundColor: 245, 245, 245;
  --PrimaryColor: 85, 125, 95;
  --OnPrimaryColor: 255, 255, 255;
  --SecondaryColor: 97, 157, 115;
  --LightGray: 238, 238, 238;
  --DarkGray: 125, 130, 120;
  --ErrorColor: 240, 20, 96;

  /* variables */
  --CornerRadiusStandard: 30px;
  --NavbarHeight: 60px;
  --InputButtonHeight: 40px;

  /* animations */
  --ModalAnimation: 400ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(var(--Background));
}

.page {
  padding: 20px 40px;
}

.icon {
  opacity: 0.55;
  transition: color 100ms ease-out;
  cursor: pointer;
}

.icon:hover {
  color: rgb(var(--PrimaryColor));
  opacity: 1;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.title:hover {
  cursor: default;
}

.error {
  color: rgb(var(--ErrorColor));
  font-size: 12px;
  font-weight: 600;
}

.width_full {width: 100% !important; }
.spacer_hor_S {height: 6px;}
.spacer_hor_M {height: 10px;}
.spacer_hor_L {height: 14px;}

/* ------------------------------------------------------------------------------------------------------ Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--PrimaryColor), 0.6)
}

/* ------------------------------------------------------------------------------------------------------ Buttons */
.button {
  padding: 10px;
  height: 35px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: var(--CornerRadiusStandard);
}

.raisedButton {
  background-color: rgb(var(--PrimaryColor));
  color: rgb(var(--OnPrimaryColor));
  transition: background-color 100ms ease-out;
  border-radius: var(--CornerRadiusStandard);
  padding-left: 10px;
  padding-right: 10px;
}

.raisedButton:hover {
  background-color: rgb(var(--SecondaryColor));
}

.raisedButton:disabled {
  background-color: rgba(var(--LightGray), 0.35);
}

.outlinedButton {
  color: rgb(var(--PrimaryColor));
  border: solid 2px rgb(var(--PrimaryColor));
  transition: background-color 100ms ease-out;
}

.outlinedButton:hover {
  color: rgb(var(--SecondaryColor));
  border: solid 2px rgb(var(--SecondaryColor));
  background-color: transparent;
}