.wrapper {
    height: var(--NavbarHeight);
    padding: 20px 25px;
    background-color: rgb(var(--PrimaryColor));
    color: rgb(var(--OnPrimaryColor));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(187, 187, 187, 1);
}

.logo {
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(var(--OnPrimaryColor));
}

.logo:hover {
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.option {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(var(--OnPrimaryColor));
    height: fit-content;
    padding: 8px 13px;
    border-radius: var(--CornerRadiusStandard);
    transition: outline 0.05s ease-out;
}

.option:hover {
    background-color: rgb(var(--SecondaryColor));
}

.selectedOption {
    background-color: rgb(var(--SecondaryColor));
    font-weight: 600;
}

.devider {
    height: 30px;
    width: 1.5px;
    margin: 0;
    padding: 0;
    background-color: rgba(var(--OnPrimaryColor), 0.3);
}