.rowSoldier {
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.rowSoldier:hover {
    outline: solid 1px rgb(var(--PrimaryColor));
}

.itemRow {
    transition: transform 75ms ease-out;
}

.itemRow:hover {
    cursor: pointer;
}

.grayRow {
    background-color: rgb(var(--LightGray));
}

.item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    /* word-break: break-all; */
}

.headerItem {
    font-weight: 600;
}

.lastItem {
    display: flex;
    padding: 0px 15px;
    text-align: flex-end;
    gap: 15px;
    justify-content: flex-end;
}